.footer {
    width: 1280px;
    height: 100px;
    display: flex;
    margin: 10px auto;
    background-color: $site-blue;
    

    .logo {
        width: 92px;
        height: 42px;
        margin: 20px;
        background-image: url(../images/logo/logo-white.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .copyright {
        font-family: Gill;
        font-size: 20px;
        color: $white;
        margin: auto 40px auto auto;
    }

    .media {
        width: 140px;
        height: 30px;
        margin: auto;
        background-image: url(../images/logo/media1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}